<html>
<head>
  <title>Open Me!</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/style.css" rel="stylesheet">
  <script src="/public/vendor/zepto.js"></script>
  <script src="/public/vendor/hammer.js"></script>
  <script src="/public/unlocker.js"></script>
</head>
<body style="padding-top: 20px">
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <img id="stream" src="http://10.66.10.3/mjpg/video.mjpg" width="640" height="480" border="0"
           alt="If no image is displayed, there might be too many viewers, or the browser configuration may have to be changed. See help for detailed instructions on how to do this.">
      <button class="btn-lg btn-block btn-danger">
        Let em in
        <div id="lock"></div>
      </button>
    </div>
  </div>
</div>
</body>
</html>